html,body{
height:100%;
margin:0px;
padding:0px
background-color: black;
}

.base {
	position: relative;
	width: 100%;
	height: 100%;
	border:2px solid black;
	border-collapse: collapse;
	background-color: black;
}

.nestedtable {
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	border-collapse: collapse;
}

.leftside { width: 35%; }

.menubuttons {
	height: 15%;
	background-color: #8e8e8e;
	border-bottom:7px solid black;
}

.profilebutton, .friendbutton {
	width: 47%;
	height: 90%;
	margin-left: 2%;
	background-color: #585858;
	border: 7px solid black;
	border-radius: 30px;
	font: bold 300% Segoe Print, cursive;
}
.profilehref, .friendhref {
	text-decoration: none;
}

.profilebutton { color: #0ed145; }
.friendbutton { color: #00a4fe; }

.profilebutton:hover, .friendbutton:hover { background: #6e6e6e; }
.profilebutton:active, .friendbutton:active { background: #444444; }

.profilehref:visited { color: #0ed145; }
.friendhref:visited { color: #00a4fe; }

.playerstopsection { background-color: #585858; }

.playerstopdiv { height: 100%; }

.toptitle {
	margin-left: 25%;
	font: bold 250% Segoe Print, cursive;
	color: yellow;
}

.playerstop {
	width: 90%;
	height: 76%;
	list-style-position: inside;
}
.othersintop {
	font: bold 200% Segoe Print, cursive;
	color: white;
	position: relative;
}

.youintop {
	width: 90%;
	height: 10%;
	margin-left: 5%;
	font: bold 200% Segoe Print, cursive;
	color: #0ed145;
	position: relative;
}

.topcontent { color: white; }

.playersrating {
	color: white;
	position: absolute;
    right: 0;
}

.yourrating {
	position: absolute;
    right: 0;
}

.centerside {
	width: 30%;
	background-color: #c3c3c3;
	border: 5px solid black;
}

.logotype {
	height: 70%;
}

.fightbutton {
	width: 86%;
	height: 80%;
	margin-left: 7%;
	background-color: #88001b;
	border: 7px solid black;
	border-radius: 70px;
	font: bold 600% Segoe Print, cursive;
	color: #fec917;
}

.fightbutton:hover { background: #b30024; }
.fightbutton:active { background: #6b0015; }

.rightside { width: 35%; }

.settings {
	height: 22%;
	background-color: #8e8e8e;
	border-bottom:7px solid black;
}

.rusbutton, .engbutton {
	position: absolute;
	width: 87px;
	height: 62px;
	top: 5px;
	border: 6px solid black;
	border-radius: 20px;
}
.rusbutton {
	background-color: white;
	background-image: url(images/settings/rusbutton.png),
	url(images/settings/rusbuttonhover.png),
	url(images/settings/rusbuttonactive.png);
    right: 235px;
}
.engbutton {
	background-color: red;
	background-image: url(images/settings/engbutton.png),
	url(images/settings/engbuttonhover.png),
	url(images/settings/engbuttonactive.png);
	right: 143px;
}
.rusbutton:hover { background-image: url(images/settings/rusbuttonhover.png); }
.engbutton:hover { background-image: url(images/settings/engbuttonhover.png); }
.rusbutton:active { background-image: url(images/settings/rusbuttonactive.png); }
.engbutton:active { background-image: url(images/settings/engbuttonactive.png); }
	
.volumebutton {
	position: absolute;
    right: 6px;
	top: 5px;
}
.volumepng {
	width: 120px;
	border: 6px solid black;
	border-radius: 20px 20px 0 0;
}
.volumerangediv {
	width: 120px;
	background-color: #0ed145;
	border: 6px solid black;
	border-radius: 0 0 20px 20px;
}
.volumerange { width: 115px; }

.chatsection { background-color: #585858; }

.chatwindow {
	height: 90%;
	width: 98%;
	margin: 1%;
	overflow: scroll;
	font: bold 100% Segoe Print, cursive;
	color: white;
}

.chatinput {
	width: 83%;
	margin: 1%;
	background-color: #585858;
	border: 5px solid black;
	border-radius: 8px;
	outline:none;
	font: bold 100% Segoe Print, cursive;
	color: white;
}

.sendbutton {
	width: 10%;
	background-color: black;
	border: 5px solid black;
	border-radius: 8px;
	font: bold 100% Segoe Print, cursive;
	color: white;
}
.sendbutton:hover { background-color: #444444 }
.sendbutton:active { background-color: #333333 }

::-webkit-scrollbar {
    width: 7px;
	height: 0px;
    background-color: black;
	border-radius: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
	border-top: 8px groove #585858;
	border-bottom: 8px ridge #585858;
	border-radius: 9px;
}