<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>PVPKnights</title>
<link rel="stylesheet" type="text/css" href="css/main_menu.css">
</head>

<body>
	<div class="pagebase">
	<table class="base">
		<tr>
			<td class="leftside">
				<table class="nestedtable">
					<tr>
						<td class="menubuttons">
							<button class="profilebutton"><a class="profilehref" href="/profile" th:text="#{profileSection}"></a></button>
							<button class="friendbutton"><a class="friendhref" href="/friend" th:text="#{friend}"></a></button>
						</td>
					</tr>
					<tr>
						<td class="playerstopsection">
							<div class="playerstopdiv">
								<label class="toptitle">ТОП РЫЦАРЕЙ</label>
								<ol class="playerstop">
									<li class="othersintop" th:each="el:${rating}" id="show">
										<span class="topcontent" th:text="${el.login}"/>
										<span class="playersrating" th:text="${el.rating}"/>
									</li>
								</ol>
								<div class="youintop">
										<span class="yourtopcontent" th:text="${user.login}"/>
										<span class="yourrating" th:text="${user.rating}"/>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
			<td class="centerside">
				<table class="nestedtable">
					<tr>
						<td class="logotype">
							<img src="css/images/main/logotype.png" width="530">
						</td>
					</tr>
					<tr>
						<td><button class="fightbutton"><a class="fighthref" href="/game" th:text="#{playButton}"></a></button></td>
					</tr>
				</table>
			</td>
			<td class="rightside">
				<table class="nestedtable">
					<tr>
						<td class="settings">
							<button class="rusbutton"><a href="/?lang=ru"></a></button>
							<button class="engbutton"><a href="/?lang=en"></a></button>
							<div class="volumebutton">
								<img src="images/volume.png" class="volumepng">
								<div class="volumerangediv">
									<input type="range" class="volumerange"/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="chatsection">
							<div class="chatwindow"  >	
								<form method="POST" action="/chat/add">
									<a href="/" class="sendbutton">Go in chat!</a>
								</form>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</div>
	<script src="/js/chat.js"></script>
</body>

</html>