<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>

<head>
<meta charset="UTF-8">
<title>PVPKnights</title>
<link rel="stylesheet" type="text/css" href="css/main_menu.css">
</head>

<body>

	<table class="base">
		<tr>
			<td class="leftside">
				<table class="nestedtable">
					<tr>
						<td class="menubuttons"><button class="profilebutton"
								th:text="${user.login}"></button>
							<button class="friendbutton">ДРУЗЬЯ</button></td>
					</tr>
					<tr>
						<td class="playerstopsection">
							<div class="playerstopdiv">
								<label class="toptitle">ТОП РЫЦАРЕЙ</label>
								<ol class="playerstop">
									<div th:each="el : ${rating}" id="show">
										<h3 id="id_user" th:text="'ID:' +  ${el.id}" />
										<h3 th:text="  ${el.login}" />
										<p th:text=" ${el.rating}" />
									</div>
								</ol>
								<ol start="666" class="youintoplist">
									<li class="youintop"><span class="yourtopcontent">***</span><span
										class="yourrating" th:text="${user.login}"></span></li>
								</ol>
							</div>
						</td>
					</tr>
				</table>
			</td>
			<td class="centerside">
				<table class="nestedtable">
					<tr>
						<td class="logotype"><img src="images/main/logotype.png"
							height="532"></td>
					</tr>
					<tr>
						<td><button class="fightbutton">В БОЙ!</button></td>
					</tr>
				</table>
			</td>
			<td class="rightside">
				<table class="nestedtable">
					<tr>
						<td class="settings">
							<table>
								<tr>
									<td><button class="rusbutton" />
										<button class="engbutton" /></td>
									<td><div class="volumebutton">
											<img src="images/main/volume.png" height="132"
												class="volumepng">
											<div class="volumerangediv">
												<input type="range" class="volumerange">
											</div>
										</div></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="chatsection">
							<div class="chatwindow">
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
								<p>*</p>
							</div> <input class="chatinput" type="text" size="80%" /> <input
							class="sendbutton" type="submit" value="▶" />
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>